@tailwind base;
@tailwind components;
@tailwind utilities;


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}


.fancy-checkbox{
    input:checked + span:before {
        background: url('../../public/img/icons/check.svg') no-repeat center center / contain;
        position: absolute;
        top: 15%;
        left: 15%;
        width: 70%;
        height: 70%;
        content: '';

    }
}

.grandstander {
    font-family: 'Grandstander', display;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.narrow-container {
    max-width: 750px;
}
